{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "adjunct"
  ],
  "env": {
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
  }
}
