{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/babel",
    "prettier/react",
    "prettier/unicorn",
    "adjunct"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": [
    "react",
    "react-hooks",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2019,
    "impliedStrict": true,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/control-has-associated-label": 0,
    "react/prop-types": [2, { "ignore": ["forwordRef"] }],
    "react/jsx-props-no-spreading": 0,
    "react/forbid-prop-types": 0,
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "tabWidth": 2,
        "semi": false,
        "singleQuote": true,
        "bracketSpacing": true,
        "endOfLine": "lf"
      },
      {
        "usePrettierrc": true
      }
    ],
    "unicorn/prevent-abbreviations": 0,
  }
}
